/* formulario.css */
body {
  font-family: sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 768px;
  width: 100%;
  padding: 20px;
  margin: 0 20px; 
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

form input {
  display: block;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

form button {
  background: #008f07;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color ease-in 100ms;
}

form button:hover {
  background-color: #00a508;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 768px;
  height: 80%;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  color: #333;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}